<div id="newsletterRegister">
  Join our Mailinglist, man!
  
  <%= form_tag %>
    Email: <%= text_field_tag :email %>
    <%= hidden_field_tag :mode, :register %>
    <%= submit_tag "Join!" %>
  </form>
</div>
