<html>
<head>
  <title>Nick's great blog!</title></head>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
<body>

<div id="body">
<div id="blogBody">
  <%= yield %>
</div>
<div id="right_menu">
  <%= yield :right_menu %>
</div>
</div>

</body>
</html>
